* {
    background-color: rgb(80, 129, 80);
    box-sizing: border-box;
    color: wheat;
    
}

#submission {
    font-size: 20px;
    text-align: center;
}

h1 {
    text-align: center;
}

input, button {
    color: black;
    background-color: honeydew;
}